.header {
    background-color: black;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    width: 120px;
    display: inline;
}

.cuerpo-azul {
    background-color: blue;
    color: white;
}

.img-article {
    width: 50px;
    height: 50px;
    display: inline;

}

.cuerpo-blanco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    background-color: red;
    display: flex;
    flex-direction: row;
}
.rayitas {
    width: 30px;
    height: 30px;
    margin: 20px;    
}

.pack {
    display: inline-flexbox;
    


}