
@import "core/reset"
@import "core/variables"
@import "layout/footer"
@import "layout/header"
@import "layout/cuerpoazul"




.img-article {
    width: 50px;
    height: 50px;
    display: inline;

}

.cuerpo-blanco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 60%;


}

.rayitas {
    width: 30px;
    height: 30px;
    margin: 20px;    
}

.pack {
    display: inline-flexbox;
    


}
.bloc1{
    display: block;
    text-align: center;
}
.article {
    display: flex;
    flex-direction: row;

}

