/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header {
    background-color: black;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    width: 120px;
    display: inline;
}

.cuerpo-azul {
    background-color: blue;
    color: white;
    height: 50%;
    
}

.img-article {
    width: 50px;
    height: 50px;
    display: inline;

}

.cuerpo-blanco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 60%;


}

.rayitas {
    width: 30px;
    height: 30px;
    margin: 20px;    
}

.pack {
    display: inline-flexbox;
    


}
.bloc1{
    display: block;
    text-align: center;
}
.article {
    display: flex;
    flex-direction: row;

}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;

}
.footertext {
    color:white;
    text-align: left;
    padding: 30px;
    list-style: none;


}
.right {
    color: white;
    text-align: right;
    list-style: none;
    padding: 30%;

}